<!--Ionic Tabs-->
<ion-tabs>

  <!--Ionic Tab-->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <!--Tab Icon-->
      <ion-icon name="cart"></ion-icon>
      <!--Tab Name-->
      <ion-label>Grocery</ion-label>
    </ion-tab-button>

    <!--Ionic Tab-->
    <ion-tab-button tab="tab2">
      <!--Tab Icon-->
      <ion-icon name="information-circle-outline"></ion-icon>
      <!--Tab Name-->
      <ion-label>About</ion-label>
    </ion-tab-button>

    <!--Ionic Tab-->
    <ion-tab-button tab="tab3">
      <!--Tab Icon-->
      <ion-icon name="people-outline"></ion-icon>
      <!--Tab Name-->
      <ion-label>Contact</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
